<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.race.dao.mapper.GcActivitytypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.race.dao.domain.GcActivitytype">
        <id column="Id" property="Id" />
        <result column="type" property="type" />
        <result column="days" property="days" />
    </resultMap>

    <!--查询所有活动类型-->
    <select id="queryAllActivityType" resultMap="BaseResultMap">
         SELECT * FROM gc_activitytype
    </select>

</mapper>
