<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.race.dao.mapper.GcAddressMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.race.dao.domain.GcAddress">
        <id column="Id" property="Id" />
        <result column="uid" property="uid" />
        <result column="name" property="name" />
        <result column="telephone" property="telephone" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="county" property="county" />
        <result column="lock" property="lock" />
        <result column="status" property="status" />
        <result column="address" property="address" />
    </resultMap>

</mapper>
