<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.race.dao.mapper.GcNoticeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.race.dao.dto.NoticeQueryDto">
        <id column="Id" property="Id" />
        <result column="uid" property="uid" />
        <result column="mid" property="mid" />
        <result column="flag" property="flag" />
        <result column="message" property="message" />
        <result column="time" property="time" />
        <result column="type" property="type" />
    </resultMap>

    <resultMap id="BaseResultMap1" type="java.util.Map"></resultMap>

 <!--查询用户的通知信息-->
    <select id="queryGcNoticeByUid"  parameterType="com.fmkj.race.dao.queryVo.NoticeQueryPage" resultMap="BaseResultMap">
        SELECT n.id AS id,n.uid AS uid,n.flag AS flag,m.message AS message,m.time AS TIME,m.type AS TYPE
        FROM gc_notice n
        LEFT JOIN gc_message m ON n.mid=m.id
        WHERE n.uid=#{uid} ORDER BY m.id DESC
    </select>



</mapper>
