<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.race.dao.mapper.GcOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.race.dao.domain.GcOrder">
        <id column="Id" property="Id" />
        <result column="aid" property="aid" />
        <result column="name" property="name" />
        <result column="number" property="number" />
    </resultMap>

</mapper>
