<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.BmListMapper">
    <resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.BmList">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="uid" jdbcType="INTEGER" property="uid" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="limitLogin" jdbcType="INTEGER" property="limitLogin" />
    </resultMap>



</mapper>
