<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.HcAccountMapper">
	<resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.HcAccount">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="nation" jdbcType="VARCHAR" property="nation" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="dycode" jdbcType="VARCHAR" property="dycode" />
		<result column="dycodetime" jdbcType="TIMESTAMP" property="dycodetime" />
		<result column="logo" jdbcType="VARCHAR" property="logo" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="cardnum" jdbcType="VARCHAR" property="cardnum" />
		<result column="authlock" jdbcType="BIT" property="authlock" />
		<result column="rid" jdbcType="INTEGER" property="rid" />
		<result column="make_Weight" jdbcType="INTEGER" property="makeWeight" />
		<result column="my_p" jdbcType="DOUBLE" property="myP" />
		<result column="cnt" jdbcType="DOUBLE" property="cnt" />
		<result column="grade_id" jdbcType="INTEGER" property="gradeId" />
		<result column="score" jdbcType="INTEGER" property="score" />
		<result column="card_status" jdbcType="INTEGER" property="cardStatus" />
		<result column="isboong" jdbcType="INTEGER" property="isboong" />
		<result column="cdbid" jdbcType="BIGINT" property="cdbid" />
		<result column="realnam_info" jdbcType="BIGINT" property="realnamInfo" />
	</resultMap>


	<!-- 查询最新一条中奖用户的信息 -->
	<select id="queryOneNewNotice" resultType="java.util.Map">
		select ga.id as aid,ga.name,ga.pname,ga.pnumber,ga.price,ha.id as uid,ha.nickname
		from gc_activity ga
		left join hc_account ha on ga.getid=ha.id
		where ga.getid is not null
		order by endtime desc
		limit 0,1
	</select>

</mapper>