<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.HcAccountMapper">
	<resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.HcAccount">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="nation" jdbcType="VARCHAR" property="nation" />
		<result column="telephone" jdbcType="VARCHAR" property="telephone" />
		<result column="dycode" jdbcType="VARCHAR" property="dycode" />
		<result column="dycodetime" jdbcType="TIMESTAMP" property="dycodetime" />
		<result column="logo" jdbcType="VARCHAR" property="logo" />
		<result column="nickname" jdbcType="VARCHAR" property="nickname" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="cardnum" jdbcType="VARCHAR" property="cardnum" />
		<result column="authlock" jdbcType="BIT" property="authlock" />
		<result column="rid" jdbcType="INTEGER" property="rid" />
		<result column="make_Weight" jdbcType="INTEGER" property="makeWeight" />
		<result column="my_p" jdbcType="DOUBLE" property="myP" />
		<result column="cnt" jdbcType="DOUBLE" property="cnt" />
		<result column="grade_id" jdbcType="INTEGER" property="gradeId" />
		<result column="score" jdbcType="INTEGER" property="score" />
		<result column="card_status" jdbcType="INTEGER" property="cardStatus" />
		<result column="isboong" jdbcType="INTEGER" property="isboong" />
		<result column="cdbid" jdbcType="BIGINT" property="cdbid" />
		<result column="realnam_info" jdbcType="BIGINT" property="realnamInfo" />
	</resultMap>


	<!-- 查询最新一条中奖用户的信息 -->
	<select id="queryOneNewNotice" resultType="java.util.Map">
		select ga.id as aid,ga.name,ga.pname,ga.pnumber,ga.price,ha.id as uid,ha.nickname
		from gc_activity ga
		left join hc_account ha on ga.getid=ha.id
		where ga.getid is not null
		order by endtime desc
		limit 0,1
	</select>

	<!-- 查询单个用户信息，包括用户总积分 -->
	<select id="queryUserTaskMessage" resultType="com.fmkj.user.dao.domain.HcAccount">
		select ha.id,ha.telephone,ha.logo,ha.nickname,ha.email,ha.rid,ha.my_p as myP,ha.grade_id as gradeId,ha.card_status as cardStatus,
       		ha.isboong,ha.cdbid,ha.password,sum(hp.points_num) as score
        	from hc_account ha
        	left join hc_points_record hp on ha.id = hp.uid
          	where ha.id=#{uid}
	</select>

	<!-- 传入uid查询所有好友 -->
	<select id="selectAllFriends" resultMap="BaseResultMap">

		select ha.id,ha.telephone,ha.logo,ha.nickname,ha.authlock,ha.my_p,ha.grade_id,sum(hp.points_num) as score,
		ha.card_status,ha.isboong,ha.cdbid
		from hc_account  ha
		left join hc_friend hf on hf.friend_id = ha.id
		left join hc_points_record hp on  hp.uid = ha.id
		where hf.pass=1 and  hf.account_id=#{uid}
		group by ha.id

	</select>

	<select id="selectAccountById" resultType="com.fmkj.user.dao.dto.HcAccountDto">
		SELECT
		  ha.id,
		  ha.telephone,
		  ha.logo,
		  ha.nickname,
		  ha.email,
		  ha.rid,
		  ha.my_p AS myP,
		  ha.grade_id AS gradeId,
		  ha.card_status AS cardStatus,
		  ha.isboong,
		  ha.cdbid,
		  ha.password,
		  (SELECT
			SUM(hp.points_num)
		  FROM
			hc_points_record hp
		  WHERE hp.uid = #{uid}) AS score,
		  (SELECT
			COUNT(1)
		  FROM
			hc_account ha
			LEFT JOIN hc_friend hf
			  ON hf.friend_id = ha.id
			LEFT JOIN hc_points_record hp
			  ON hp.uid = ha.id
		  WHERE hf.pass = 1
			AND hf.account_id = #{uid}) AS frirendNum
		FROM
		  hc_account ha
		WHERE ha.id = #{uid}
	</select>

</mapper>