<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.HcApkversionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.HcApkversion">
        <id column="Id" property="Id" />
        <result column="apk_url" property="apkUrl" />
        <result column="apk_version" property="apkVersion" />
        <result column="upgrade_msg" property="upgradeMsg" />
        <result column="time" property="time" />
    </resultMap>

</mapper>
