<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.HcAssetsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.HcAssets">
        <id column="id" property="id" />
        <result column="userId" property="userId" />
        <result column="walletfile" property="walletfile" />
        <result column="keystore" property="keystore" />
        <result column="status" property="status" />
        <result column="assetskind" property="assetskind" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <update id="updateAssetsContent"
            parameterType="com.fmkj.user.dao.domain.HcAssets">
        update hc_assets
        <trim prefix="set" suffixOverrides=",">
            <if test="status != null">
                status=#{status},
            </if>
            <if test="keystore != null">
                keystore=#{keystore},
            </if>
        </trim>

        where userId=#{userId} and walletfile=#{walletfile};
    </update>
</mapper>
