<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.user.dao.mapper.HcFriendMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.user.dao.domain.HcFriend">
        <id column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="friend_id" property="friendId" />
        <result column="msg" property="msg" />
        <result column="pass" property="pass" />
    </resultMap>

    <update id="passFReq">
        update hc_friend
        set pass=#{pass}
        where (account_id=#{friendId} and friend_id=#{accountId} and pass=0)
    </update>

    <!-- 去重查询所有好友请求记录 -->
    <select id="queryAllandMsgIsNUll" resultMap="BaseResultMap">
		select distinct(account_id),friend_id from hc_friend where pass=1;
	</select>

</mapper>
