<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.order.dao.mapper.HcAccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fmkj.order.dao.domain.HcAccount">
        <id column="id" property="id" />
        <result column="nation" property="nation" />
        <result column="telephone" property="telephone" />
        <result column="dycode" property="dycode" />
        <result column="dycodetime" property="dycodetime" />
        <result column="logo" property="logo" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="password" property="password" />
        <result column="name" property="name" />
        <result column="cardnum" property="cardnum" />
        <result column="authlock" property="authlock" />
        <result column="rid" property="rid" />
        <result column="make_weight" property="makeWeight" />
        <result column="my_p" property="myP" />
        <result column="score" property="score" />
        <result column="grade_id" property="gradeId" />
        <result column="card_status" property="cardStatus" />
        <result column="isboong" property="isboong" />
        <result column="cdbid" property="cdbid" />
        <result column="cnt" property="cnt" />
    </resultMap>

</mapper>
