<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.order.dao.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.fmkj.order.dao.dto.OrderDto">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="order_no"  property="orderNo" />
		<result column="user_id"  property="userId" />
		<result column="seller_id"  property="sellerId" />
		<result column="payment"  property="payment" />
		<result column="payment_type"  property="paymentType" />
		<result column="order_status"  property="orderStatus" />
		<result column="payment_time"  property="paymentTime" />
		<result column="end_time"  property="endTime" />
		<result column="create_time"  property="createTime" />
		<result column="update_time"  property="updateTime" />
		<result column="leave_msg"  property="leaveMsg" />
		<result column="is_pay"  property="isPay" />
		<result column="trade_num"  property="tradeNum" />
		<result column="product_id"  property="productId" />
		<result column="order_type"  property="orderType" />
		<association column="hc" property="hcAccount" javaType="com.fmkj.order.dao.domain.HcAccount">
			<id column="id" property="id" />
			<result column="nation" property="nation" />
			<result column="telephone" property="telephone" />
			<result column="dycode" property="dycode" />
			<result column="dycodetime" property="dycodetime" />
			<result column="logo" property="logo" />
			<result column="nickname" property="nickname" />
			<result column="email" property="email" />
			<result column="password" property="password" />
			<result column="name" property="name" />
			<result column="cardnum" property="cardnum" />
			<result column="authlock" property="authlock" />
			<result column="rid" property="rid" />
			<result column="make_weight" property="makeWeight" />
			<result column="my_p" property="myP" />
			<result column="score" property="score" />
			<result column="grade_id" property="gradeId" />
			<result column="card_status" property="cardStatus" />
			<result column="isboong" property="isboong" />
			<result column="cdbid" property="cdbid" />
		</association>
	</resultMap>


	<select id="queryOrderPage" parameterType="com.fmkj.order.dao.queryVo.OrderQueryVo" resultMap="BaseResultMap">
		SELECT
			fm.id,
			fm.order_no,
		    fm.order_type,
			fm.user_id,
			fm.seller_id,
			fm.payment,
			fm.payment_type,
			fm.order_status,
			fm.payment_time,
			fm.end_time,
			fm.create_time,
			fm.update_time,
			fm.is_pay,
			fm.leave_msg,
			fm.trade_num,
			fm.product_id,
			hc.*
		FROM
			fm_order_info fm
			LEFT JOIN hc_account hc
			ON fm.seller_id = hc.id
		WHERE 1 = 1
		<if test="order.orderNo != null">
			and fm.order_no = #{order.orderNo}
		</if>

		<if test="order.userId != null">
			and fm.user_id = #{order.userId}
		</if>

		<if test="order.orderStatus != null">
			and fm.order_status = #{order.orderStatus}
		</if>

		<if test="order.paymentType != null">
			and fm.payment_type = #{order.paymentType}
		</if>

		<if test="order.sellerId != null">
			and fm.seller_id = #{order.sellerId}
		</if>

	</select>


	<select id="getOrderPageBySeller" parameterType="com.fmkj.order.dao.queryVo.OrderQueryVo" resultMap="BaseResultMap">
		SELECT
			fm.id,
			fm.order_no,
		    fm.order_type,
			fm.user_id,
			fm.seller_id,
			fm.payment,
			fm.payment_type,
			fm.order_status,
			fm.payment_time,
			fm.end_time,
			fm.create_time,
			fm.update_time,
			fm.is_pay,
			fm.leave_msg,
			fm.trade_num,
			fm.product_id,
			hc.*
		FROM
			fm_order_info fm
			LEFT JOIN hc_account hc
			ON fm.user_id = hc.id
		WHERE 1 = 1
		<if test="order.sellerId != null">
			and fm.seller_id = #{order.sellerId}
		</if>

	</select>

</mapper>