<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fmkj.order.dao.mapper.OrderMapper">
	<resultMap id="BaseResultMap" type="com.fmkj.order.dao.domain.OrderInfo">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="product_no" jdbcType="VARCHAR" property="productNo" />
		<result column="product_name" jdbcType="VARCHAR" property="productName" />
		<result column="prodcut_price" jdbcType="BigDecimal" property="prodcutPrice" />
		<result column="prodcut_stock" jdbcType="BigDecimal" property="prodcutStock" />
		<result column="prodcut_sum" jdbcType="BigDecimal" property="prodcutSum" />
		<result column="prodcut_icon" jdbcType="VARCHAR" property="prodcutIcon" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="category_type" jdbcType="INTEGER" property="categoryType" />
		<result column="user_id" jdbcType="INTEGER" property="userId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="product_detail" jdbcType="VARCHAR" property="productDetail" />
		<result column="product_type" jdbcType="INTEGER" property="productType" />
		<result column="currency" jdbcType="INTEGER" property="currency" />
		<result column="max_price" jdbcType="BigDecimal" property="maxPrice" />
		<result column="min_limit" jdbcType="BigDecimal" property="minLimit" />
		<result column="max_limit" jdbcType="BigDecimal" property="maxLimit" />
		<result column="payment_term" jdbcType="INTEGER" property="paymentTerm" />

	</resultMap>
</mapper>