package ${package_name}.server.service;

import com.fmkj.common.base.BaseService;
import ${package_name}.dao.domain.${model};

/**
* @Description: ${model} Service接口
* @Author: youxun
* @CreateDate: ${ctime}.
* @Version: 1.0
**/
public interface ${model}Service extends BaseService<${model}> {

}